*     {
    margin: 0%;
    padding: 0%;
}

#main {
    display: grid;
    background-color: #f5f3e9;
}

@media screen and (min-width:768px ){
    
    .gridinicio {
        display: grid;
        height: 700px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;
    
    }

    .gridinicio > .cabezadepagina {
        background-color: #f5f3e9;
        grid-column: 1/3;
        grid-row: 1/2;
        display: flex;
        align-items: stretch;
        justify-content: space-between;

    }
    
    .gridinicio >.section {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .gridinicio >.footer {
        grid-column: 1/3;
        grid-row: 3/4;
    }


    .header {
        border: 0px;
        background-color: #f5f3e9;
        font-family:  'Fahkwang', sans-serif; 
        font-size: 30px;
        color: black;
        padding-left: 20px;
        padding-top: 20px;
    }

    .nav {
        border: 0px;
        background-color:#f5f3e9;
        padding-right: 20px;
        padding-top: 30px;
    }

    .nav a { 
        border: 0px;
        color: black;
        font-family:'Fahkwang', sans-serif;
        font-size: 20px;
        font-weight: lighter;
        
        
        
    }

   
    .cuadro {
        width: 900px;
        height: 80px;
        background-color: #f5f3e9;
        opacity: 60%;
        position: relative;
        left: 0px;
        bottom: 225px;
        animation-name: efectotitulo;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 30s;
        
        
    }

    @keyframes efectotitulo {
        0% {width: 0px;
        }
        10% {
            width: 900px;
        }
        11% {
            width: 900px;
        }
        100%{
            width: 900px;
        }
    }

    .cuadro2 {
        width: 900px;
        height: 40px;
        background-color: orange;
        opacity: 70%;
        position: relative;
        right: 0px;
        bottom: 225px;
        left: 0px;
        animation-name: efectosubtitulo;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 30s;
        
    }

    @keyframes efectosubtitulo {
        0% {width: 0px;
        }
        10% {
            width: 900px;
        }
        11% {
            width: 900px;
        }
        100%{
            width: 900px;
        }
    }

    .cuadro3 {
        width: 1074px;
        height: 90px;
        background-color: #f5f3e9;
        opacity: 60%;
        position: relative;
        bottom: 160px;
        left: 275px;
        animation-name: efectocuadroparrafo;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 30s;
    }

    @keyframes efectocuadroparrafo {
        0% {width: 0px;
        }
        25% {
            width: 0px;
        }
        35% {width:1074px;
        }
        100% {
            width: 1074px;
        }
        
    }

    

    .section {
        height: 650px;
        background-image: url(img/imagen-para-Forbes.jpg);
        background-size: cover;
        text-align: center;
        margin: 0px;
        
    }


    .section h1 {
        color: black;
        font-family: 'Fahkwang', sans-serif;
        font-size: 80px;
        font-stretch: semi-expanded;
        padding-top: 90px;
        position: relative;
        z-index: 100;
        animation-duration: 30s;
        animation-name: aparecetitulo;
        animation-iteration-count: infinite;
    }

    @keyframes aparecetitulo {
        0% {
            opacity: 0;
        }
        10% {opacity: 0;
        }
        20% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }


    .section h2 {
        color: #f5f3e9;
        font-family:'Fahkwang', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        position: relative;
        z-index: 100;
        bottom: 5px;
        animation-duration: 30s;
        animation-name: aparecesubtitulo;
        animation-iteration-count: infinite;
    }

    @keyframes aparecesubtitulo {
        0% {
            opacity: 0;
        }
        20% {opacity: 0;
        }
        25% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }

    .section p {
        font-family:'Fahkwang', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: black;
        text-shadow: 0.2em 0.2em 0.2em grey;
        padding-top: 30px;
        text-align: left;
        padding-left: 280px;
        position:relative;
        z-index: 100;
        top: 40px;
        font-family: 'Fahkwang', sans-serif;
        animation-duration: 30s;
        animation-name: efectoparrafo;
        animation-iteration-count: infinite;


    }

    @keyframes efectoparrafo {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0;
        }
        30% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
        
    }

    .footer {
        display: flex;
        flex-direction: row;
        background-color: black;
        opacity: 60%;
        align-items: stretch;
        justify-content: space-between;
        margin: 0px;
    }

    .footer div {
        height: 60px;
    
    }

    .footer__dondeestamos {
        height: 60px;
        width: 200px;
        padding-top: 12px;
        padding-left: 20px;
    
    }

    .footer__dondeestamos h6 {
        color: #f5f3e9;
        font-family: 'Fahkwang', sans-serif;
        font-size: 12px;
        padding: 1px;
    }

    .footer__mapa {
        padding-top: 17px;
        padding-right: 850px;
    }


    .footer__mapa img {
        height: 50px;
        width: 50px;
        border-radius: 20px;
    }


    .footer__nuestrasredes {
        text-align: right;
    }

    .footer__nuestrasredes h6 {
        font-family: 'Fahkwang', sans-serif;
        color:#f5f3e9;
        padding-top: 25px;
        padding-right: 20px;
    }

    .facebook {
        height: 60px;
        width: 60px;
        padding-top: 12px;
        padding-right: 30px;
    }

    .instagram {
        height: 50px;
        width: 50px;
        padding-top: 17px;
        padding-left: 2px;
    }

    .cabezadepagina {
        background-color: #f5f3e9;
        grid-column: 1/3;
        grid-row: 1/2;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .teamsection {
        height: 650px;
        grid-row: 2/3;
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
        background-image: url(./img/pexels-fauxels-3183150.jpg);
        background-size: cover;
        align-items: stretch;
        justify-content: space-around;
        flex-wrap: wrap;
       
    }

    .desc {
        width: 300px;
        height: 120px;
        background-color: #f5f3e9;
        opacity: 80%;
        text-align: center;
        margin-top: 150px;
        padding-top: 35px;
    }

    .desc h2 {
        font-family:'Fahkwang', sans-serif ;
    }

    .desc p {
        font-family: 'Fahkwang', sans-serif;
    }

    .titulo{
        width: 1320px;
        height: 40px;
        background-color: #454546;
        opacity: 70%;
        margin-bottom: 100px;
        position: relative;
        z-index: 50;
    }

    .titulo h2 {
        color: #f5f3e9;
        text-align: center;
        font-family:'Fahkwang', sans-serif;
        font-size: 30px;
        position: relative;
        z-index: 100;
     }

    .central {
        display: flex;
        flex-direction: row;
        align-items: stretch
    }

    .presentacion {
        background-color: #454546;
        opacity: 90%;
        color: aliceblue;
        width: 739px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .presentacion__titulo {
        background-color: #f5f3e9;
        opacity: 90%;
        color: black;
        margin-top: 25px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        width:739px;
        height: 120px;
        font-family: 'Fahkwang', sans-serif;
        font-size: 30px;

    }

    .presentacion__titulo h1 {
        color: orange;
        position: relative;
        top: 15px;
    }

    .presentacion__subtitulo {
        background-color: #454546;
        color: #f5f3e9;
        margin: 0px;
        width:740px;
        height: 50px;
        font-family: 'Fahkwang', sans-serif;
        font-size: 15px;
    }

    .presentacion__subtitulo h2 {
        position: relative;
        top: 15px;
        animation-duration: 60s;
        animation-name: presentacionsubt;
        animation-iteration-count: infinite;


    }

    @keyframes presentacionsubt {
        0% {
            opacity: 0;
        }
        2% {
            opacity: 0;
        }
        3% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
        
    }
    

    .presentacion__parrafo {
        background-color: #f5f3e9;
        opacity: 90%;
        color:black;
        margin: 0px;
        width:689px;
        font-family: 'Fahkwang', sans-serif;
        padding: 25px;
        
    }

    .presentacion__parrafo p {
        animation-duration: 60s;
        animation-name: presentacionparrafo;
        animation-iteration-count: infinite;


    }

    @keyframes presentacionparrafo {
        0% {
            opacity: 0;
        }
        5% {
            opacity: 0;
        }
        6% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
        
    }
    

    
    .imagen {  
        height: 620px;
        width: 610px;
        background-image: url(./img/pexels-karolina-grabowska-4968535.jpg);
        background-size: cover;
    }

    .gridportfolio {
        display: grid;
        width: 1349px;
        grid-template-columns: 1fr 1fr;
        grid-row: 2fr 2fr 15fr 15fr 15fr 2fr;
    }

    .gridportfolio .menuproyectos {
        grid-row: 2/3; 
        grid-column: 1/3;
        display: flex;
        align-items: stretch;
        justify-content:center;
        background-color: #454546;
        color: #f5f3e9;  
        padding: 5px;
    }

    .menuproyectos__titulo {
        font-family:'Fahkwang', sans-serif;
        font-size: 25px;
        padding-right: 100px;
    }

    .menuproyectos__menu a {
        font-family: 'Fahkwang', sans-serif;
        font-size: 20px;
        color: #f5f3e9;
        position: relative;
        top: 10px;
    }

    .gridportfolio #chn {
        grid-column: 1/3;
        grid-row: 3/4;
        background-color: #f5f3e9;
    }

    .gridportfolio #bebedero {
        grid-column: 1/3;
        grid-row: 4/5;
        background-color:#f5f3e9
    }

    .gridportfolio #atiko {
        grid-column: 1/3;
        grid-row: 5/6;
        background-color: #f5f3e9;
    }

    .gridinicio .footer {
        grid-column: 1/3;
        grid-row: 6/7;
    }

    .proyecto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .proyecto__titulo {
        width: 675px;
        font-size: 20px;
        color: #454546;
        font-family: 'Fahkwang', sans-serif;
        text-align: center;
        padding-top: 30px;
    }

    .proyecto__descripcion {
        width: 650px;
        font-size: 15px;
        font-family: 'Fahkwang', sans-serif;
        color: #454546;
        padding: 10px;
    }
    .proyecto__descripcion a {
        font-family: 'Fahkwang', sans-serif;
        font-size: small;
        color: orange;
    }

    .proyecto__galeria {
        background-color: black;
        width: 1100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
        position: relative;
        padding-left: 124px;
        padding-right: 124px;
    }
    
    .contacto {
        width: 1349px;
        height: 650px;
        background-image: linear-gradient(to bottom, #454546, #f5f3e9); 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contacto__titulo h2 {
        font-family: 'Fahkwang', sans-serif;
        color: orange;
        padding-bottom: 10px;
    }

    .contacto__formulario fieldset {
        border: none;
        width: 800px;
        height: 350px;
        text-align: center;
        font-family: 'Fahkwang', sans-serif;
        font-size: 20px;
        color: #f5f3e9;
    }

    .comentarios {
        padding-top: 30px;
    }

    .comentarios__label {
        position: relative;
        bottom: 80px;
    }

    textarea {
        background-color: #454546;
        color: #f5f3e9;
        font-family: 'Fahkwang', sans-serif;
        border: none;
    }
    
    .datos label{
        padding: 10px;
    }
    .datos .input{
        border: none;
        background-color: orange;
        color: #f5f3e9;
        height: 20px;
        transition: all 2s;
        
    }

    .datos .input:focus {
        height: 30px;
        background-color: white;
        color: #454546;
    }

    .reunion {
        margin-top: 20px;
    }

    .meinteresa {
        margin-top: 20px;
    }

    .enviar input {
        font-size: medium;
        border: none;
        background-color: orange;
        padding: 3px;
    }

}

@media screen and (max-width:768px) {
    .gridinicio {
        display: grid;
        max-height: 1024px;
        grid-template-rows:3fr 19fr 2fr ;
        grid-template-columns: 1fr;
    }
    
    .gridinicio .cabezadepagina {
        grid-row: 1/2; 
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        
    }
    

    .gridinicio >.section {
        grid-row: 2/3;
        grid-column: 1/2;
       
    }
    
    .gridinicio >.footer {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .cabezadepagina {
        width: 767px;
    }

    .section {
        width: 767px;
    }

    .footer {
        width: 767px;
    }

    .header {
        border: 0px;
        background-color: black;
        opacity: 70%;
        height: 75px;
    }

    .header P {
        font-family:  'Fahkwang', sans-serif; 
        text-align: right;
        color: azure;
        padding: 22px;
        font-size: 25px;
    }

    .nav {
        border: 0px;
        background-color: #f5f3e9;
        text-align: left;
        margin:0px;
        height: 75px;
        padding-left: 10px;

    }

    .nav a { 
        border: 0px;
        color: black;
        font-family:'Fahkwang', sans-serif;
        font-weight: lighter;
        font-size: 22px;
        position: relative;
        top: 20px;
    }

    
    .footer {
        display: flex;
        flex-direction: row;
        background-color: black;
        opacity: 60%;
        align-items: stretch;
        justify-content: space-between;
    }

    .footer__dondeestamos {
        width: 200px;
        padding-top: 15px;
        padding-left: 20px;
    
    }

    .footer__dondeestamos h6 {
        color: azure;
        font-family: 'Fahkwang', sans-serif;
        font-size: 12px;
        padding: 1px;
        
    }

    .footer__mapa {
        padding-top: 17px;
        padding-right: 340px;
        
    }


    .footer__mapa img {
        height: 50px;
        width: 50px;
        border-radius: 20px;
    }


    .footer__nuestrasredes {
        text-align: right;
        padding-top: 20px;
        padding-right: 20px;
    }

    .footer__nuestrasredes h6 {
        font-family: 'Fahkwang', sans-serif;
        color: azure;
        font-size: 12px;
        padding: 1px;
    
    }

    .facebook {
        height: 60px;
        width: 60px;
        padding-top: 10px;

    }
       
    .instagram {
        height: 50px;
        width: 50px;
        padding-top: 15px;
        padding-left: 10px;
    }

    .section {
        height: 950px;
        background-image: url(img/imagen-para-Forbes.jpg);
        background-size: cover;
        margin-top: 0px;
        margin-bottom: 0px;
        
    }

    #inicio {
        max-height: 950px;
    }

    .section h1 {
        color: black;
        font-family: 'Fahkwang', sans-serif;
        font-size: 80px;
        font-stretch: semi-expanded;
        padding-top: 90px;
        padding-left: 170px;
        position: relative;
        z-index: 100;
        animation-duration: 30s;
        animation-name: aparecetitulomd;
        animation-iteration-count: infinite;
    }

    @keyframes aparecetitulomd {
        0% {
            opacity: 0;
        }
        10% {opacity: 0;
        }
        20% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }

    

    .section h2 {
        color:azure;
        font-family:'Fahkwang', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        padding-left: 170px;
        position: relative;
        z-index: 100;
        bottom: 5px;
        animation-duration: 30s;
        animation-name: aparecesubtitulo;
        animation-iteration-count: infinite;
    }

    @keyframes aparecesubtitulo {
        0% {
            opacity: 0;
        }
        20% {opacity: 0;
        }
        25% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
    

    .section p {
        font-family:'Fahkwang', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: black;
        text-shadow: 0.2em 0.2em 0.2em grey;
        padding-top: 30px;
        text-align: left;
        padding-left: 120px;
        position:relative;
        z-index: 100;
        top: 40px;
        font-family: 'Fahkwang', sans-serif;
        animation-duration: 30s;
        animation-name: efectoparrafomd;
        animation-iteration-count: infinite;


    }

    @keyframes efectoparrafomd {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0;
        }
        30% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
        
    
    }

    .cuadro {
        width: 500px;
        height: 80px;
        background-color: azure;
        opacity: 60%;
        position: relative;
        left: 0px;
        bottom: 225px;
        animation-name: efectotitulomd;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 30s;
    }

    @keyframes efectotitulomd {
        0% {width: 0px;
        }
        10% {
            width: 500px;
        }
        11% {
            width: 500px;
        }
        100%{
            width: 500px;
        }
    }


    .cuadro2 {
        width: 500px;
        height: 40px;
        background-color: orange;
        opacity: 60%;
        position: relative;
        right: 0px;
        bottom: 225px;
        left: 0px;
        animation-name: efectosubtitulomd;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 30s;
        
    }

    @keyframes efectosubtitulomd {
        0% {width: 0px;
        }
        10% {
            width: 500px;
        }
        11% {
            width: 500px;
        }
        100%{
            width: 500px;
        }
    }


    .cuadro3 {
        width: 600px;
        height: 90px;
        background-color: azure;
        opacity: 60%;
        position: relative;
        bottom: 160px;
        left: 100px;
        animation-name: efectocuadroparrafomd;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 30s;
    }

    @keyframes efectocuadroparrafomd {
        0% {width: 0px;
        }
        25% {
            width: 0px;
        }
        35% {width:600px;
        }
        100% {
            width: 600px;
        }
        
    }
    

    .teamsection {
        grid-row: 2/3;
        grid-column: 1/2;
        background-image: url(./img/pexels-fauxels-3183150.jpg);
        background-size: cover;
    }

    .teamsection {
        height: 950px;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    .desc {
        width: 500px;
        height: 120px;
        background-color: azure;
        opacity: 80%;
        text-align: center;
        margin-top: 50px;
        padding-top: 15px;
    }

    .desc h2 {
        font-family:'Fahkwang', sans-serif ;
        font-size: 30px;
    }

    .desc p {
        font-family: 'Fahkwang', sans-serif;
        font-size: 20px;
    }

    .titulo{
        width: 500px;
        height: 50px;
        background-color: #454546;
        text-align: center;
        font-family:'Fahkwang', sans-serif;
        font-size: 15px;
        margin-top: 50px;
        position: relative;
        z-index: 50;
    }

    .titulo h2 {
        color: #f5f3e9;
        padding-top: 10px;
        position: relative;
        z-index: 100;
     }

     .central {
        max-width: 767px;
        background-image: url(./img/pexels-karolina-grabowska-4968535.jpg);
        background-size: cover;
        display: flex;
        align-items: center;
     }

     .presentacion {
        width: 767px;
        height: 800px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 30px;
        
    }

    .presentacion__titulo {
        background-color: #f5f3e9;
        opacity: 90%;
        color: black;
        width: 400px;
        margin-top: 25px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0pxpx;
        font-family: 'Fahkwang', sans-serif;
        font-size: 25px;
    }

    .presentacion__titulo h1 {
        position: relative;
        top: 0px;

    }

    .presentacion__subtitulo {
        background-color: orange;
        opacity: 70%;
        width: 400px;
        color:white;
        margin: 0px;
        font-family: 'Fahkwang', sans-serif;
        font-size: 15px;
    }

    .presentacion__subtitulo h2 {
        position: relative;
        top: 0px;
        animation-duration: 60s;
        animation-name: presentacionsubtmd;
        animation-iteration-count: infinite;


    }

    @keyframes presentacionsubtmd {
        0% {
            opacity: 0;
        }
        2% {
            opacity: 0;
        }
        3% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
        
    }
    

    .presentacion__parrafo {
        background-color: #f5f3e9;
        opacity: 90%;
        color:black;
        width: 500px;
        margin: 20px;
        font-family: 'Fahkwang', sans-serif;
        padding: 25px;
        position: relative;
        font-size: 20px;
    }

    .presentacion__parrafo p {
        animation-duration: 60s;
        animation-name: presentacionparrafomd;
        animation-iteration-count: infinite;


    }

    @keyframes presentacionparrafomd {
        0% {
            opacity: 0;
        }
        5% {
            opacity: 0;
        }
        6% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
        
    }

    .gridportfolio {
        display: grid;
        grid-template-columns: 1fr ;
        grid-row: 2fr 2fr 15fr 15fr 15fr 2fr;
    }

    .gridportfolio .menuproyectos {
        grid-row: 2/3; 
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        align-items:center;
        background-color: #454546;
        color: #f5f3e9;  
        padding: 5px;
    }

    .menuproyectos__titulo {
        font-family:'Fahkwang', sans-serif;
        font-size: 25px;
    }

    .menuproyectos__menu a {
        font-family: 'Fahkwang', sans-serif;
        font-size: 25px;
        color: #f5f3e9;
       
    }

    .gridportfolio #chn {
        grid-column: 1/2;
        grid-row: 3/4;
        background-color: #f5f3e9;
    }

    .gridportfolio #bebedero {
        grid-column: 1/2;
        grid-row: 4/5;
        background-color:#f5f3e9
    }

    .gridportfolio #atiko {
        grid-column: 1/2;
        grid-row: 5/6;
        background-color: #f5f3e9;
    }

    .gridinicio .footer {
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .proyecto {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .proyecto__titulo {
        font-size: 25px;
        font-weight: 700;
        text-decoration: underline;
        color: #454546;
        font-family: 'Fahkwang', sans-serif;
        text-align: left;
        padding: 5px;
    }

    .proyecto__descripcion {
        font-size: 20px;
        font-family: 'Fahkwang', sans-serif;
        color: #454546;
        text-align:right;
        padding: 5px;
    }
    .proyecto__descripcion a {
        font-family: 'Fahkwang', sans-serif;
        font-size: small;
        color: orange;
    }

    .proyecto__galeria {
        background-color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 25px;

    }

    .contacto {
        height: 950px;
        background-image: linear-gradient(to bottom, #454546, #f5f3e9); 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contacto__titulo h2 {
        font-family: 'Fahkwang', sans-serif;
        color: orange;
        text-transform: uppercase;
        position: relative;
        bottom: 100px;
        
    }

    .contacto__formulario fieldset {
        border: none;
        text-align: center;
        font-family: 'Fahkwang', sans-serif;
        font-size: 25px;
        color: #f5f3e9;
    }


    
    textarea {
        background-color: #454546;
        color: #f5f3e9;
        font-family: 'Fahkwang', sans-serif;
        border: none;

    .datos {
        margin-bottom: 20px;
    }


    .reunion {
        margin-bottom: 20px;
    }

    .meinteresa{
        margin-bottom: 30px;
    }

    .enviar input {
        font-size: medium;
        border: none;
        background-color: orange;
        padding: 3px;
    }

   





}

  